
@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;


}

.container{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
	width: 100%;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: row wrap;
	flex-wrap: wrap;

}

header h1 {
	margin: 0;
	padding: 20px 0; /*38px DT*/
	text-align: center;
	border-bottom: 3px solid #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {

	padding: 20px 0;/**/
}
header nav ul {
	list-style-type: none;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px 10px;
	/*display: inline; (not for mobile)*/
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 0 auto;

}

.main-image {
	height: auto;

}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	height: auto;

}
.main-title h3 {
	text-align: justify;
	padding: 5px 10px;
	color: #77a466;
}
.main-title p {
	padding: 0 10px;
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;

	border-top: 1px solid #eee;
}

.section-one h4 {
	text-align: center;
	padding: 10px 20px;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	text-align: center;
	padding: 10px 20px; /*padding: 10px 30px DT;*/
}

.menu {
	list-style: none;
	padding: 10px 20px; /*	padding: 0;DT*/

}
.menu li {
	padding: 10px 10px;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;

}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/*flex-flow: row wrap;*/
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*****TABLET*****/
@media all and (min-width:768px) {
	.section-one, .section-two, .section-three {
		width: 33%;
		height: 200px;
		margin-bottom: 100px;
}

footer {

    text-align: center;
    width: 90%;
}
}

/*****DESKTOP*****/
@media all and (min-width:1200px) {
	header {
		height: 110px;
		width: 100%;
		margin: 0 auto;
		border-bottom: none;
		display: flex;

	}

	header h1 {
		margin: 0;
		padding: 38px 0;
		text-align: left;
		width: 50%;

	}

	header nav {
		padding: 46px 0;
	}

	header nav ul li {
		padding: 0 10px;
		display: inline;
	}

	.top-section,
	.bottom-section {
		display: flex;
  	flex-flow: row wrap;

}
.bottom-section {
 margin-bottom: 25px;
}
	.section-one, .section-two, .section-three {
			height: 200px;
			width: 33%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding-left: 38px;
}
.main-title p {
	text-align: left;
	padding-left: 38px;
}

.section-two h4,
.section-three h4 {
	width: 100%;
	text-align: center;
	padding: 10px 30px;
}

.menu {
	padding: 0;
	margin: 0;
}
footer {
	width: 90%;
	border-top: 3px solid #eee;
  /*margin-top: 120px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
}
